<!DOCTYPE HTML>
<html>
	<head>
		<title>Badds Demo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="/static/images/avatar.jpg" alt="" /></span>
							<h1>Badds Demo</h1>
							<p>Example API Usage</p>
						</header>
					</section>

                <div style="padding: 20px; background-color: white; margin: 20px">
                    <small style="color: green">Ad.</small>
                    <br/>
                    <a href="{{ ad_url_link }}" target="_blank" style="width:200px"><img src="{{ ad_url }}" width="200px"></a>

                    <p style="margin-top: 20px">
                        {{ ad_text }}
                    </p>
                </div>


					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Badds</li>
						</ul>
					</footer>

			</div>

			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>