<!DOCTYPE HTML>
<html>
<head>
    <title>Badds - Líderes en publicidad</title>
    <meta name="description" content="Badds">
    <meta name="author" content="Badds">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/assets/styles/vendor.96921311.css" rel="stylesheet">
    <link href="/static/assets/styles/main.5263191b.css" rel="stylesheet">
</head>
<body ng-app="panelBadds" class="landing">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="/">Badds</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/ads/">Panel</a></li>
                <li><a href="/account" class="button">Cuenta</a></li>
                <li><a href="/logout_auth" class="button">Salir</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>2017&copy; Badds. Todos los derechos reservados.</li></li>
        </ul>
    </footer>

</div>

<script src="/static/assets/scripts/vendor.5a1e5d5e.js"></script>
<script src="/static/assets/scripts/scripts.d1b09134.js"></script>

</body>
</html>
