# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
!node_modules/.keep

# testing
coverage

# production
build/
!build/.keep

# misc
.DS_Store
Thumbs.db
.idea
npm-debug.log
compilation-stats.json

