{% extends 'landing/base.html' %}

{% block content %}
    <section id="main" class="container 50%">
        <header class="page-header">
            <h2>Cuenta</h2>
        </header>

        <div class="box">

            <h3>Informacion</h3>

            <h4>Usuario</h4>
            <p>{{ request.user.username }}</p>

            <h4>E-Mail</h4>
            <p>{{ request.user.email }}</p>

            <h4>Fecha de Ingreso</h4>
            <p>{{ request.user.date_joined }}</p>

            <h4>Ultimo Acceso</h4>
            <p>{{ request.user.last_login }}</p>

            <a href="/change_pass">Cambiar contraseña</a>

            <form method="post" id="login-form">
                    {% csrf_token %}
    
                    {% for error in form.non_field_errors %}
                        <div>
                            <i class="fa fa-times-circle" style="font-size:22px;color:red"></i>
                            <strong>{{ error|escape }}</strong>
                        </div>
    
                        <br>
                    {% endfor %}
    
                    {% for field in form %}
    
                        <div class="row uniform 50%">
                            <div class="12u">
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
    
                    {% endfor %}
    
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions align-center">
                                <li>
                                    <input type="submit" value="Entrar">
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>

            <h3>Creditos</h3>

            <p style="font-size:40px;">${{ user.profile.credits }}</p>

                <form method="post" action="/pay/">
                    {% csrf_token %}
                    <div class="row uniform 50%">
                        <div class="12u">
                            <input name="credits" id="credits" type="number" min="0" placeholder="Cantidad"/>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions">
                                <li>
                                    {% if init_point != none %}
                                        <input type="submit" value="Nuevo Pago">
                                    {% else %}
                                        <input type="submit" value="Cargar">
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            {% if init_point != none %}
                <div class="alert alert-warning" role="alert">
                    <strong>Transaccion pendiente.</strong>
                </div>
                <a href="{{ init_point }}" target="_blank" class="button special">Abonar Pendiente</a>
                <form method="post" action="/cancel/">
                    {% csrf_token %}
                    <input type="submit" value="Cancelar">
                </form>
            {% endif %}

            {% if success %}
                <div class="alert alert-success" role="alert">
                    <strong>Exito!</strong> {{ success }}
                </div>
            {% endif %}

            {% if error %}
                <div class="alert alert-error" role="alert">
                    <strong>Error!</strong> {{ error }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
