<!DOCTYPE HTML>
<html>
<head>
    <title>Badds - Líderes en publicidad</title>
    <meta name="description" content="Badds">
    <meta name="author" content="Badds">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/static/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/bootstrap-reboot.min.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/static/assets/css/ie8.css" /><![endif]-->

    <!-- Scripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/jquery.dropotron.min.js"></script>
    <script src="/static/assets/js/jquery.scrollgress.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/skel.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="https://www.google.com/recaptcha/api.js?render=6LdVMMUUAAAAANDLhPW8tkzO0pULMIxrUyAzsb-z"></script>
    <script src="/static/assets/js/main.js"></script>
</head>
<body class="landing">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="/">Badds</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contact">Contacto</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/ads/" class="button">Panel</a></li>
                    <li><a href="/account" class="button">Cuenta</a></li>
                    <li><a href="/logout_auth" class="button">Salir</a></li>
                {% else %}
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="/register" class="button">Registro</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>2017&copy; Badds. Todos los derechos reservados.</li></li>
        </ul>
    </footer>

</div>

<script>
    $(document).ready(function() {
        setTimeout(function() {
          $(".grecaptcha-badge").hide();
        }, 500);
    });
</script>

</body>
</html>
