{% extends 'landing/base.html' %}

{% block content %}
    <section id="main" class="container 75%">
        <header class="page-header">
            <h2>Contacto</h2>
            <p>No dude en contactarnos si tiene consultas sobre el servicio.</p>
        </header>

        <div class="box">
            {% if success %}
                <div class="alert alert-success" role="alert">
                    <strong>Mensaje enviado!</strong> Un representante de Badds pronto lo contactará.
                </div>
            {% endif %}

            <form method="post" id="contact-form">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <div>
                        <i class="fa fa-times-circle" style="font-size:22px;color:red"></i>
                        <strong>{{ error|escape }}</strong>
                    </div>

                    <br>
                {% endfor %}

                {% for field in form %}

                    <div class="row uniform 50%">
                        <div class="12u">
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

                {% include 'landing/captcha.html' with section='contact' %}

                <div class="row uniform">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li>
                                <input type="submit" value="Enviar">
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
