{% extends 'landing/base.html' %}

{% block content %}
    <section id="main" class="container 50%">
        <header class="page-header">
            <h2>Ingresar</h2>
        </header>

        <div class="box">

            <form method="post" id="login-form">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <div>
                        <i class="fa fa-times-circle" style="font-size:22px;color:red"></i>
                        <strong>{{ error|escape }}</strong>
                    </div>

                    <br>
                {% endfor %}

                {% for field in form %}

                    <div class="row uniform 50%">
                        <div class="12u">
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

                <div class="row uniform 50%">
                    <div class="12u">
                        <a href="/recover">Olvide mi contraseña</a>
                    </div>
                </div>

                <input type="hidden" name="captcha" id="captcha"/>

                <script>
                    captcha("login", function(token) {
                        $("#captcha").val(token);
                    });
                </script>

                <div class="row uniform">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li>
                                <input type="submit" value="Entrar">
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
