{% extends 'ads/base.html' %}

{% block content %}
    <section id="main" class="container 75%">
        <header class="page-header">
            <h2>Panel</h2>
            <p>Bienvenido a su panel principal.</p>
        </header>

        <div class="box">
            <h3>Cuenta</h3>
            <p>Credito</p>

            <h3>Aplicaciones</h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dominio</th>
                        <th>Categoria</th>
                        <th>Llave</th>
                        <th>Activa</th>
                        <th>Fecha de Creacion</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <h3>Publicidades</h3>

            <h3>Subastas</h3>
        </div>
    </section>
{% endblock %}
