<!DOCTYPE HTML>
<html>
<head>
    <title>Badds - Líderes en publicidad</title>
    <meta name="description" content="Badds">
    <meta name="author" content="Badds">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/static/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/static/assets/css/ie8.css" /><![endif]-->
</head>
<body class="landing">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="/">Badds</a> - DaVinci</h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/login">Entrar</a></li>
                <li><a href="/register" class="button">Registro</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>2017&copy; Badds. Todos los derechos reservados.</li></li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.dropotron.min.js"></script>
<script src="/static/assets/js/jquery.scrollgress.min.js"></script>
<script src="/static/assets/js/skel.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/static/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/static/assets/js/main.js"></script>

</body>
</html>