{% extends 'landing/base.html' %}

{% block content %}
    <section id="main" class="container 50%">
        <header class="page-header">
            <h2>Ingresar</h2>
        </header>

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <script>
            function onSubmit(token) {
                document.getElementById("login-form").submit();
            }
        </script>

        <div class="box">
            {% if error %}
                <div>
                    <strong>Error!</strong> {{ error }}
                </div>
            {% endif %}

            <form method="post" id="login-form">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <div>
                        <i class="fa fa-times-circle" style="font-size:22px;color:red"></i>
                        <strong>{{ error|escape }}</strong>
                    </div>

                    <br>
                {% endfor %}

                {% for field in form %}

                    <div class="row uniform 50%">
                        <div class="12u">
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

                <div class="row uniform">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li>
                                <input type="submit"
                                       class="g-recaptcha special"
                                       data-sitekey="{{ captcha_key }}"
                                       data-callback="onSubmit"
                                       value="Entrar">
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
